* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
// _____________________________________________________________________
// 1-Login.html
.caixaLog {
  width: 100%;
  max-width: 380px;
  padding: 20px;
}

.logCaixa {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.logCaixa h2 {
  font-size: 28px;
  color: #0066aa;
  margin-bottom: 15px;
}

.login-box p {
  color: #333;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
}

input:focus {
  border-color: #0077c2;
}

button {
  padding: 44px;
  border: none;
  background: #0077c2;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #000000;
}

.caixaLog {
  margin-top: -180px;
}

.imgBack {
  background-image: url(./assets/backgfundoVP1.png);
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

// _____________________________________________________________________
// 2-Index.html
.areaMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  padding: 0 20px;
}

.caixaOpcao {
  background: #ffffff;
  padding: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  color: #005b8f;
  border: 2px solid #cfe8ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.caixaOpcao:hover {
  background: #cce9ff;
  border-color: #0078c2;
  transform: translateY(-3px);
}

// responsivo
@media (max-width: 768px) {
  .areaMenu {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .areaMenu {
    grid-template-columns: 1fr;
  }
}

// _____________________________________________________________
// Menu lateral
.menuL {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 220x;
  background: #1e3a8a;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar nav a {
  display: block;
  padding: 12px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 5px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #3b82f6;
}

// _________________________________________________
// Dash.html
.main-content {
  flex: 1;
  padding: 30px;
  background: #f5f7fa;
}

.main-content h1 {
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}

.card h3 {
  margin-bottom: 10px;
  color: #0077c2;
}

.valor {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}
// _____________________________________________________________________<<

// cadastroPacientes.html
.form-paciente {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.form-paciente h2 {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #0077c2;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 12px;
  border: 1px solid #ccc;
}

//consultas filtros
.search {
  width: 500px;
}
.select-filter {
  width: 130px;
}
.btnCons {
  padding: 2px 6px;
}

.select-filter {
  padding: 2px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.status {
  padding: 6px 10px;
  border-radius: 6px;
}

//cadastroPacientes
.form-section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form textarea,
form select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Btn */
form button {
  padding: 12px;
  background-color: #1e3a8a;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
}

form button:hover {
  background-color: #3b82f6;
}

_______________________________________________________________
// 
.container {
  display: flex;
}

// Pacientes.html
.content {
  flex: 1;
  padding: 30px;
}

header h1 {
  margin-bottom: 20px;
}

// Profissionais.html
.search-section input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
}

table th {
  background: #1e3a8a;
  color: white;
}

table tr:nth-child(even) {
  background: #f5f5f5;
}

// ___________________________________________________

// Prontuarios.html

.page-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.top-actions {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
}

.input-search {
  flex: 1;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.btnPront {
  padding: 10px 16px;
  background: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #0077cc;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ececec;
}

tbody tr:nth-child(even) {
  background: #f7f7f7;
}

.btn-view {
  background: #1b9e77;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit {
  background: #d95f02;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
